/.idea
/a
/Anki.lnk
/desktop.ini
/desliga_pc.py
/Discord.lnk
/DOC txt.txt
/DOC txt2.txt
/FOTOS
/Imagens da Câmera
/index.html
/Microsoft Edge.lnk
/Novo Documento de Texto (3).txt
/prisma
/PSC6
/PSC6.rar
/PSCS6.exe - Atalho (2).lnk
/Roblox Player.lnk
/Roblox Studio.lnk
/Rockstar Games Launcher.lnk
/Sem título.png
/seu_app
/SKlauncher-3.2.10.jar
/Trixon